html {
	font-size: 80%;
}

body {
	font-family: garamond-premier-pro-caption, serif;
    letter-spacing: 0;
}

/* Reduce text column width */
.book .book-body .page-wrapper .page-inner {
	max-width: 700px;
}

/*--- COLOR PALETTE ---

GLOBAL
#1aa9ab - Warhorn Turquoise
#0f7f8d - Cover Teal
#245261 - Cover Deep Teal
#83485c - Cover Maroon
#8a7b5e - Cover Brown

SEPIA THEME
#704214 - Sepia Text
#877f6a - Sepia Menu Text
#afa790 - Sepia Footnote Rule
#f3eacb - Sepia Background
darkred - Sepia Borders and Links

NIGHT THEME
#bdcadb - Night Text
#fffffa - Night Brighter Text
#c1c6d7 - Night Menu Text
#bcc1d2 - Night Menu Base Text (seems to be overridden)
#2d3143 - Night Menu Background
#f4f4f5 - Night Brighter Menu Text
#1c1f2b - Night Background
#3f5061 - Night Borders (Warhorn Darker Blue)

------*/


/*--- BODY FONTS ---*/

.book.font-family-0 {
	font-family: garamond-premier-pro-caption, serif;
}

.book.font-family-1 {
	font-family: acumin-pro, sans-serif;
}

.book.font-family-0, .book.font-family-1 {
    font-variant-ligatures: common-ligatures;
  	-moz-font-feature-settings: "liga", "clig";
  	-webkit-font-feature-settings: "liga", "clig";
  	font-feature-settings: "liga", "clig";
}

/* HEADING STYLES */

/*FRONT MATTER HEADINGS*/

section#section-.normal {
    overflow: visible;
}

#header { /* white/generic title header specs */
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    top: -25px;
    padding-bottom: 25px;
    background-image: url("../images/triangles.png");
    background-color: #1aa9ab;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
/*    -moz-box-shadow: inset 0 0 10px 10px #1aa9ab;*/
/*    -webkit-box-shadow: inset 0 0 10px 10px #1aa9ab;*/
/*    box-shadow: inset 0 0 10px 10px #1aa9ab;*/
}

.with-summary #header {
    width: calc(100vw - 300px);
    left: calc(-50vw + 50% + 150px);
}

.color-theme-1 #header { /* sepia title header */
    background-color: #877f6a;
/*    -moz-box-shadow: inset 0 0 10px 10px #877f6a;*/
/*    -webkit-box-shadow: inset 0 0 10px 10px #877f6a;*/
/*    box-shadow: inset 0 0 10px 10px #877f6a;*/
}

.color-theme-2 #header { /* night title header */
    background-color: #c1c6d7;
/*    -moz-box-shadow: inset 0 0 10px rgba(45, 49, 67, 40%);*/
/*    -webkit-box-shadow: inset 0 0 10px rgba(45, 49, 67, 40%);*/
/*    box-shadow: inset 0 0 10px rgba(45, 49, 67, 40%);*/
}

#header h1.title, #header p.author, #header p.date, #header h2.subtitle { /* white/generic header text specs */
    hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    font-family: garamond-premier-pro, serif;
    font-style: normal !important;
    color: #fff;
    margin: auto auto auto 5%;
    max-width: 670px;
}

.color-theme-1 #header h1.title, .color-theme-1 #header p.author, .color-theme-1 #header p.date, .color-theme-1 #header h2.subtitle { /* sepia header text specs */
}

.color-theme-2 #header h1.title, .color-theme-2 #header p.author, .color-theme-2 #header p.date, .color-theme-2 #header h2.subtitle { /* night header text specs */
}

#header h1.title { /* generic title text specs */
    font-weight:bold;
    padding: calc(1em + 25px) .5em .4em 0;
    margin-bottom: 0;
    border: none;
    text-transform: none;
    font-size: 4rem;
    line-height: 1;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 30%);
}

#header h2.subtitle > em { /* remove generic italics from subtitle, but leave inline specified italics */
    font-style: normal;
}

#header h2.subtitle {
    font-family: garamond-premier-pro-caption;
    font-size: 2rem;
    line-height:1.5;
    font-weight: normal;
    position: relative;
    top: -.3em;
    border: none;
    letter-spacing: inherit;
    margin-bottom: .5em;
}

#header p.author em { /* remove italics from header content; replace with small caps */
    font-style: normal;
    font-variant: small-caps;
}

#header p.author, #header p.date { /* generic author & date text specs */
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: .05em;
    padding-bottom: 1.1em;
}

#header p.date { /* hide date from title header */
    display: none;
}

#about-this-book h1 {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .01em;
    text-transform: none;
    font-variant: normal;
    font-size: 1.2em;
    border: none;
}

/* --- */

/*BOOK BODY HEADINGS*/

/* link to section link icon */
a.anchor-section::before {
    content: "\f0c1";
    font-family: "Font Awesome 5 Free", FontAwesome, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.hasAnchor a.anchor-section:hover {
    text-decoration: none !important;
    opacity: 75%;
}

/* link to section tooltip */
.hasAnchor a.anchor-section {
    position: absolute;
    display: inline-block;
}

.hasAnchor a.anchor-section:after {
    content: "link to section";
    position: absolute;
    visibility: hidden;
    width: 110px;
    font-family: acumin-pro, sans-serif;
    letter-spacing: .0125em;
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-weight: 400;
    background-color: #e7e7e7;
    color: #333;
    text-align: center;
    padding: 0;
    z-index: 1;
    top: 90%; /* drop tooltip underneath link icon */
    right: calc(-55px + 50%); /* center tooltip horizontally on link icon */
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 20%);
    opacity: 0;
    transition: opacity .2s;
}

.hasAnchor a.anchor-section:hover::after {
    visibility: visible;
    transition-delay: .5s;
    opacity: .7;
}

h1.hasAnchor a.anchor-section {
    font-size: .7em;
    transform: translateY(.4em);
}

.book .book-body .page-wrapper .page-inner section.normal > div ~ div h1.hasAnchor a.anchor-section {
    font-size: inherit;
    transform: none;
}

.hasAnchor { /* keep tooltips from forcing horizontal scroll */
    padding-right: 80px;
}

/*--*/


/* HEADER & TOC */
.book .book-header h1 {
	font-family: garamond-premier-pro-caption, serif;
	font-style: normal;
	border: none;
	padding-bottom: 0;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: .1em;
}

/*remove serif/sans option*/
.dropdown-menu div:nth-child(3) {
    display: none;
}

.book .book-header, .book .book-summary {
	font-family: acumin-pro, sans-serif;
}

.book .book-summary {
	font-size: 16px;
	line-height: 1em;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
	color: #1aa9ab;
}

.book .book-summary ul.summary li a span, .book.color-theme-1 .book-summary ul.summary li a, .book.color-theme-1 .book-summary ul.summary li span, .book.color-theme-2 .book-summary ul.summary li a, .book.color-theme-2 .book-summary ul.summary li span {
    color: inherit;
}

li.divider + li.chapter {
    font-style: italic;
}

li.divider + li.chapter a:before {
    content: "\f02d";
    font-family: FontAwesome;
    font-style: normal;
    padding-right: 5px;
}

.book .book-summary ul.summary > li.chapter em {
	font-style: normal;
}

/*SUBHEAD SUBLISTS*/

/*general/white*/

.book .book-summary ul.summary li.chapter ul {
    background-color: rgb(237, 237, 237);
}

.book .book-summary ul.summary li.chapter li a, .book .book-summary ul.summary li.chapter li span {
    padding-top: 5px;
    padding-bottom: 5px;
}

.book .book-summary ul.summary li.chapter ul li {
	font-style: italic;
    padding-left: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: lightgray;
}

.book .book-summary ul.summary li.chapter ul li:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
}

/*sepia*/

.color-theme-1 .book-summary ul.summary li.chapter ul {
    background-color: rgb(77, 77, 77);
}

.color-theme-1 .book-summary ul.summary li.chapter ul li {
    border-color: rgb(100, 100, 100);
}

.color-theme-1 .book-summary ul.summary li.chapter ul li:first-child {
    border-top-color: rgb(100, 100, 100);
}

.color-theme-1 .book-summary ul.summary li.chapter ul li > a:hover, .color-theme-1 .book-summary ul.summary li.chapter ul li > a:active {
    color: #f3eacb;
}

/*night*/

.color-theme-2 .book-summary ul.summary li.chapter ul {
    background-color: #252737;
}

.color-theme-2 .book-summary ul.summary li.chapter ul li {
    border-color: #2d3143;
}

.color-theme-2 .book-summary ul.summary li.chapter ul li:first-child {
    border-top-color: #2d3143;
}

.color-theme-2 .book-summary ul.summary li.chapter ul li > a:hover, .color-theme-1 .book-summary ul.summary li.chapter ul li > a:active {
}

/*--*/

.book .book-summary ul.summary li.chapter b {
	font-style: normal;
    display: inline-block;
    width: 20px;
    text-align: center;
    position: relative;
    left: 10px;
}

.book .book-summary ul.summary li.chapter a, .book .book-summary ul.summary li.chapter span {
    text-indent: -24px;
    padding-left: 48px;
}

.book .book-summary ul.summary li.chapter span.No-Ligatures, .book .book-summary ul.summary li.chapter span.Lining-Nums, .book .book-summary ul.summary li.chapter span.No-Break {
    text-indent: 0px;
    padding-left: 0px;
}

.book .book-summary ul.summary li.chapter span.Endnote-Ref, .book .book-summary ul.summary li.chapter span.Footnote-Ref {
    display: none;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    text-overflow: inherit;
    white-space: normal;
}

/*--- ALTERNATE BODY TEXT OPTIONS ---*/

/*HYPHENS
.book .book-body .page-wrapper .page-inner section.normal p {
	orphans: 2;
	widows: 2;
	-webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 4;
    -webkit-hyphenate-limit-chars: 6 3 4;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 6 3 4;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 4;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 4;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}*/

.book .book-body .page-wrapper .page-inner section.normal p {
	margin-top: 0em;
	margin-bottom: 0em;
}

/*--- COLOR THEME CUSTOMIZATION ---*/

/* LOGO IMAGES */

.book .book-summary .summary li a img {
	background-image: url("../images/warhorn-logo-white-01.png");
	background-size: contain;
    background-repeat: no-repeat;
}

.book.color-theme-1 .summary li a img {
	background-image: url("../images/warhorn-logo-sepia-02.png");
	background-size: contain;
    background-repeat: no-repeat;
}

.book.color-theme-2 .summary li a img {
	background-image: url("../images/warhorn-logo-night-03.png");
	background-size: contain;
    background-repeat: no-repeat;
}

/* WHITE THEME (no class) */

.book .book-body .page-wrapper .page-inner section.normal a, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a {
	color: #1aa9ab;
}

/* SEPIA THEME ("color-theme-1") */

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
	color: darkred;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h1, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 {
	border-color: darkred;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal hr {
	background-color: #afa790;
}

/* NIGHT THEME ("color-theme-2") */

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h3, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h4, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h5, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h6 {
	color: inherit;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h1, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 {
	border-color: #3f5061;
}

/*------*/

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/*--- FOOTNOTES ---*/

.book .book-body .page-wrapper .page-inner section.normal .footnotes ol, .book .book-body .page-wrapper .page-inner section.normal .footnotes ul {
    padding: 0 0 0 0em;
    margin:0 0 .85em 1.5em;
}

.footnotes li p:first-child {
    text-indent: -1.5em;
}

 /* Restart footnote numbers for each section. Following trail of solution to request asked here: https://community.rstudio.com/t/restart-footnote-numbering-in-each-chaptering/75628/4
*/

  /* don't show the wrong footnote calls */
  .footnote-ref sup, .footnoteRef sup {
    display: none;
  }

  /* use a counter for footnote calls */
  .page-inner {
    counter-reset: fn-call;
  }

  .footnote-ref, .footnoteRef {
    counter-increment: fn-call;
  }

  /* generate new footnote calls */
  .footnote-ref::after, .footnoteRef::after {
    content: counter(fn-call);
    position: relative;
    top: -.5em;
    font-size: 85%;
    line-height: 0;
    vertical-align: baseline;
  }

  /* use a counter for footnotes numbering */
  .footnotes ol {
    list-style: none;
    counter-reset: fn-number;
  }

  .footnotes li {
    counter-increment: fn-number;
  }

  .footnotes li p:first-child::before {
 	content: counter(fn-number) '. ';
	width: 1.5em;
	float: left;
  }

/* end Restart footnote numbers for each section. */

/* always apply roman, i.e., not italic, to footnote refs in text */
.footnote-ref {
    font-style: normal;
}

/*--- RefTagger Customization ---*/

.rtTooltip {
	max-width: 90%;
}

.rtTooltipHeader, .rtTooltipBody, .rtTooltipFooter, .rtTooltipFooter a {
	font-family: inherit;
}

.rtLight .rtTooltipBrandLink a:hover {
	color: #ccc;
	text-decoration: underline;
}

.rtLight .rtTooltipMoreLink:link, .rtLight .rtTooltipMoreLink:visited {
	color: #1aa9ab;
}

.rtLight .rtTooltipMoreLink:hover {
	text-decoration: underline;
}

.rtTooltip, .rtTooltip a, .rtTooltipBody p, .rtTooltipBody span {
	letter-spacing: .0125em;
}

.rtBibleRef {
    white-space: nowrap;
}

/* SEPIA MODE */
/*
.color-theme-1 ~ .rtTooltip div {
	background: #;
	color: #;
}
*/

.color-theme-1 ~ .rtLight .rtTooltipMoreLink:link, .color-theme-1 ~ .rtLight .rtTooltipMoreLink:visited {
	color: darkred;
}

/* NIGHT MODE */
.color-theme-2 ~ .rtTooltip div {
	background: #2d3143;
	color: #bcc1d2;
}

.color-theme-2 ~ .rtTooltip .rtTooltipHeader {
	background: #3f5061;
	color: #f4f4f5;
}

.color-theme-2 ~ .rtTooltip .rtTooltipSocial {
    background: transparent;
}

.color-theme-2 ~ .rtTooltip .rtTooltipSocialIcon {
	filter: invert(1);
}

/*------*/

.nobreak {
    white-space: nowrap;
}

.Opening-Drop-Words {
    font-variant: small-caps;
    text-transform:lowercase;
    letter-spacing:.0125em;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

/*------------EPUB CSS-----------------*/


/*PRE*/

p, ul, ol, li {
    font-variant-numeric: oldstyle-nums proportional-nums;
}

h1, h2, h3, h4, h5, h6 {
    font-variant-numeric: proportional-nums;
}

.section td, .section th, .section tr {
	border-style:none;
	border-width:0px;
}
.section table {
	border-collapse:collapse;
}
.section ul {
	margin-top:0;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
	list-style-type:square;
    list-style-type: '▶  ';
	margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0px;
    margin-inline-end:0px;
    padding-inline-start:0;
    text-align:left;
}
.section ol {
	margin-top:0;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
    text-align:left;
}
.section li {
    text-align:left;
}
body .section {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
    -ms-hyphens:auto;
    -moz-hyphens:auto;
}


/*BODY*/

p, ul, ol, li {
    line-height: 1.5;
}

p.BODY-STYLES_Body, p.BODY-STYLES_Body-SA {
    text-indent:1.5em !important;
}
p.BODY-STYLES_Body-SA, p.BODY-STYLES_Body-NI-SA, p.BODY-STYLES_Chapter-Opening-SA, p.BODY-STYLES_Subhead-Opening-SA {
    margin-bottom:1.5em !important;
}
p.BODY-STYLES_Body-NI {
}
p.BODY-STYLES_Chapter-Opening, p.BODY-STYLES_Chapter-Opening-SA, p.BODY-STYLES_Part-Opening, p.BODY-STYLES_Subhead-Opening, p.BODY-STYLES_Subhead-Opening-SA {
    break-before:avoid;
}
span.Opening-Drop-Words {
    font-variant:small-caps;
    text-transform:lowercase;
    letter-spacing:.05em;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

p.BODY-STYLES_Block-Quote-Single, p.BODY-STYLES_Block-Quote-1st, p.BODY-STYLES_Block-Quote-Next, p.BODY-STYLES_Block-Quote-Last, p.BODY-STYLES_Poetry, p.BODY-STYLES_Poetry-SA, p.BODY-STYLES_Poetry-L2, p.BODY-STYLES_Poetry-L2-SA, p.BODY-STYLES_Poetry-Citation, p.BODY-STYLES_Poetry-Citation-NS, p.BODY-STYLES_Block-Quote-w-in-Block-Quote {
    font-size:96%;
    line-height:1.5625em;
}
p.BODY-STYLES_Block-Quote-Single, p.BODY-STYLES_Block-Quote-1st, p.BODY-STYLES_Block-Quote-Next, p.BODY-STYLES_Block-Quote-Last, p.BODY-STYLES_Poetry, p.BODY-STYLES_Poetry-SA, p.BODY-STYLES_Poetry-L2, p.BODY-STYLES_Poetry-L2-SA, p.BODY-STYLES_Poetry-Citation, p.BODY-STYLES_Poetry-Citation-NS{
    margin-right:1.5625em;
}
.BODY-STYLES_Block-Quote-w-in-Block-Quote {
    margin-left:3.125em;
    margin-right:3.125em;
    margin-top:.78125em;
    margin-bottom:.78125em !important;
}
p.BODY-STYLES_Block-Quote-Single, p.BODY-STYLES_Block-Quote-1st, p.BODY-STYLES_Block-Quote-Next, p.BODY-STYLES_Block-Quote-Last {
    margin-left:1.5625em;
}
p.BODY-STYLES_Block-Quote-Single, p.BODY-STYLES_Block-Quote-Last {
    margin-bottom:1.5625em !important;
}
p.BODY-STYLES_Block-Quote-Next, p.BODY-STYLES_Block-Quote-Last {
    text-indent:1.5625em;
}
p.BODY-STYLES_Poetry, p.BODY-STYLES_Poetry-SA, p.BODY-STYLES_Poetry-L2, p.BODY-STYLES_Poetry-L2-SA {
    text-indent:-3.125em;
    -epub-hyphens:manual;
    -webkit-hyphens:manual;
    -moz-hyphens:manual;
    -ms-hyphens:manual;
}
p.BODY-STYLES_Poetry, p.BODY-STYLES_Poetry-SA {
    padding-left:4.6875em;
}
p.BODY-STYLES_Poetry-SA, p.BODY-STYLES_Poetry-L2-SA, p.BODY-STYLES_Poetry-Citation {
    margin-bottom:1.5625em !important;
}
p.BODY-STYLES_Poetry-L2, p.BODY-STYLES_Poetry-L2-SA {
    padding-left:6.25em;
}
p.BODY-STYLES_Poetry-Citation, p.BODY-STYLES_Poetry-Citation-NS {
    text-align:right;
    break-before:avoid;
}
span.Body-List-Counter-Float {
	display:inline-block;
	min-width:36px;
	text-align:right;
    white-space:nowrap;
}
span.Body-List-Counter-Float:after {
    content: "\00a0";
}
.BODY-STYLES_L-O-Bull-L1, .BODY-STYLES_L-O-Bull-L1-SA, .BODY-STYLES_L-O-Bull-L2, .BODY-STYLES_L-O-Bull-L2-SA, .BODY-STYLES_L-O-Num-L1, .BODY-STYLES_L-O-Num-L1-1st, .BODY-STYLES_L-O-Num-L1-SA, .BODY-STYLES_L-O-Num-L1-Subsubhead, .BODY-STYLES_L-O-Num-L1-Subsubhead-1st, .BODY-STYLES_L-O-Num-L2, .BODY-STYLES_L-O-Ltr-L1, .BODY-STYLES_L-O-Ltr-L1-SA, .BODY-STYLES_L-O-Ltr-L1-1st, .BODY-STYLES_L-O-Ltr-L1-1st-SA, .BODY-STYLES_L-O-Ltr-L1-Subsubhead, .BODY-STYLES_L-O-Ltr-L1-Subsubhead-1st, .BODY-STYLES_L-O-Ltr-L2, .BODY-STYLES_L-O-Ltr-L2-SA  {
    list-style-position:outside;
}
.BODY-STYLES_L-O-Bull-L1, .BODY-STYLES_L-O-Bull-L1-SA, .BODY-STYLES_L-O-Bull-L2, .BODY-STYLES_L-O-Bull-L2-SA {
    list-style-type:square;
    list-style-type: '▶  ';
}
.BODY-STYLES_L-O-Num-L1, .BODY-STYLES_L-O-Num-L1-1st, .BODY-STYLES_L-O-Num-L1-SA, .BODY-STYLES_L-O-Num-L1-Subsubhead, .BODY-STYLES_L-O-Num-L1-Subsubhead-1st, .BODY-STYLES_L-O-Num-L2 {
    list-style-type:decimal;
}
.BODY-STYLES_L-O-Ltr-L1, .BODY-STYLES_L-O-Ltr-L1-SA, .BODY-STYLES_L-O-Ltr-L1-1st, .BODY-STYLES_L-O-Ltr-L1-1st-SA, .BODY-STYLES_L-O-Ltr-L1-Subsubhead, .BODY-STYLES_L-O-Ltr-L1-Subsubhead-1st {
    list-style-type:upper-alpha;
}
.BODY-STYLES_L-O-Ltr-L2, .BODY-STYLES_L-O-Ltr-L2-SA {
    list-style-type:lower-alpha;
}
.BODY-STYLES_L-O-Bull-L1, .BODY-STYLES_L-O-Bull-L1-SA, .BODY-STYLES_L-O-Num-L1, .BODY-STYLES_L-O-Num-L1-1st, .BODY-STYLES_L-O-Num-L1-SA, .BODY-STYLES_L-O-Num-L1-Subsubhead, .BODY-STYLES_L-O-Num-L1-Subsubhead-1st, .BODY-STYLES_L-O-Ltr-L1, .BODY-STYLES_L-O-Ltr-L1-SA, .BODY-STYLES_L-O-Ltr-L1-1st, .BODY-STYLES_L-O-Ltr-L1-1st-SA, p.BODY-STYLES_L-O-Ltr-L1-Subsubhead, .BODY-STYLES_L-O-Ltr-L1-Subsubhead-1st {
}
.BODY-STYLES_L-O-Num-L1-Subsubhead, .BODY-STYLES_L-O-Num-L1-Subsubhead-1st, .BODY-STYLES_L-O-Ltr-L1-Subsubhead, .BODY-STYLES_L-O-Ltr-L1-Subsubhead-1st {
    margin-top:2.25em;
    margin-bottom:.75em;
    break-after:avoid;
}
p.BODY-STYLES_L-O-Num-L1-Subsubhead, p.BODY-STYLES_L-O-Num-L1-Subsubhead-1st, p.BODY-STYLES_L-O-Ltr-L1-Subsubhead, p.BODY-STYLES_L-O-Ltr-L1-Subsubhead-1st {
    margin-left:36px;
    text-indent:-36px;
}
.BODY-STYLES_L-O-Bull-L2, .BODY-STYLES_L-O-Bull-L2-SA, .BODY-STYLES_L-O-Num-L2, .BODY-STYLES_L-O-Ltr-L2, .BODY-STYLES_L-O-Ltr-L2-SA {
/*    margin-left:72px;*/
/*    text-indent:-36px;*/
/*    orphans:99;*/
}
.BODY-STYLES_Para-w-in-List-Item-L1, .BODY-STYLES_Para-w-in-List-Item-L1-SA {
    list-style-type:none;
    text-indent:1.5em;
}
.BODY-STYLES_L-O-Bull-L1-SA, .BODY-STYLES_L-O-Bull-L2-SA, .BODY-STYLES_L-O-Num-L1-SA, .BODY-STYLES_L-O-Ltr-L1-SA, .BODY-STYLES_L-O-Ltr-L2-SA, .BODY-STYLES_Para-w-in-List-Item-L1-SA {
    margin-bottom: 1.5em !important;
}
p.BODY-STYLES_Table-Container {
    margin-top:1.5em !important;
    margin-bottom:1.5em !important;
}
p.BODY-STYLES_Basic-Table-Text {
    -epub-hyphens:auto;
	-webkit-hyphens:auto;
}


/*HEADERS*/

.section > h1:first-child, .level2 > h2:first-child, .HEADS---SUBHEADS_Chapter-Number, .HEADS---SUBHEADS_Chapter-Title, .HEADS---SUBHEADS_No-Num-Section-Title, .HEADS---SUBHEADS_Part-Title, .HEADS---SUBHEADS_Part-1-Title, .HEADS---SUBHEADS_Part-2-Title, .HEADS---SUBHEADS_Part-3-Title, .HEADS---SUBHEADS_Part-4-Title, .HEADS---SUBHEADS_Part-Number, .HEADS---SUBHEADS_Subhead, .HEADS---SUBHEADS_Subsubhead, .HEADS---SUBHEADS_Subsubhead-After-Subhead, .HEADS---SUBHEADS_Less-Than-Subhead, .F-B-MATTER_F-B-Matter-Section-Name, .F-B-MATTER_F-B-Matter-Section-Name-Hi, .TOC_TOC-Title {
    -epub-hyphens:manual;
    -webkit-hyphens:manual;
    orphans:99;
    break-after:avoid;
    text-align:left !important;
}

.section > h1:first-child, .HEADS---SUBHEADS_Chapter-Number, .HEADS---SUBHEADS_Chapter-Title, .HEADS---SUBHEADS_No-Num-Section-Title, .F-B-MATTER_F-B-Matter-Section-Name, .F-B-MATTER_F-B-Matter-Section-Name-Hi, .HEADS---SUBHEADS_Less-Than-Subhead, .TOC_TOC-Title {
    font-variant:small-caps;
    text-transform:lowercase;
    font-variant-numeric: oldstyle-nums proportional-nums !important;
    font-weight: normal !important;
}

.section > h1:first-child, .HEADS---SUBHEADS_Chapter-Title, .HEADS---SUBHEADS_No-Num-Section-Title, .F-B-MATTER_F-B-Matter-Section-Name, .F-B-MATTER_F-B-Matter-Section-Name-Hi, .TOC_TOC-Title {
    letter-spacing:.1em !important;
    font-weight:normal !important;
    font-size: 1.5em !important;
    line-height: 1 !important;
    margin-bottom: 2em !important;
}

.section > h1:first-child, .HEADS---SUBHEADS_Chapter-Number, .HEADS---SUBHEADS_Chapter-Title, .HEADS---SUBHEADS_No-Num-Section-Title, .F-B-MATTER_F-B-Matter-Section-Name, .F-B-MATTER_F-B-Matter-Section-Name-Hi, .TOC_TOC-Title {
    text-align:left;
}

h1 .header-section-number, .HEADS---SUBHEADS_Chapter-Number {
    display: block !important;
    padding-right: 0em !important;
    font-size: 1.5em !important;
    line-height: 1 !important;
    margin-bottom: 25px !important;
    margin-top: 10% !important;
    width: 75% !important;
    position: relative;
    left: -46px;
}

h1 .header-section-number:before {
    position: relative;
    top: -.2em;
    display: inline-block;
    width: 36px;
    text-align: right;
    content: '▶';
    padding-right: 10px;
    font-size: .45em !important;
}

#G2EV > h1:first-child, #preface > h1:first-child, #note-on-method-exegesis > h1:first-child, #note-on-method-social-science > h1:first-child, #afterword > h1:first-child, bibliography > h1:first-child, #notes > h1:first-child, #scripture-index > h1:first-child, #topical-index > h1:first-child, .HEADS---SUBHEADS_No-Num-Section-Title, .F-B-MATTER_F-B-Matter-Section-Name {
    margin-top:20%;
}
.TOC_TOC-Title, .F-B-MATTER_F-B-Matter-Section-Name-Hi {
    margin-top:10%;
}
#_idContainer003, #_idContainer014, #_idContainer021, #_idContainer029 {
    break-before:always;
    width:100%;
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin-bottom:1.5em;
    margin-top:10%;
    padding-bottom:1.5em;
}

#the-scriptural-teaching > h1, #assessing-the-scriptural-teaching > h1, #the-scriptural-teaching-in-contemporary-society > h1, #a-christian-approach-for-today > h1 {
    font-family: garamond-premier-pro, serif;
    letter-spacing: 0 !important;
    text-transform: none !important;
    font-variant-numeric: lining-nums tabular-nums !important;
    font-variant: normal !important;
    font-weight:bold !important;
    line-height:1 !important;
}

#the-scriptural-teaching > h1:first-child, #assessing-the-scriptural-teaching > h1:first-child, #the-scriptural-teaching-in-contemporary-society > h1:first-child, #a-christian-approach-for-today > h1:first-child {
    font-size: 2em !important;
    margin-bottom: 0 !important;
}

.HEADS---SUBHEADS_Part-Title {
    font-size: 2em !important;
    margin-bottom: 2em !important;
}

h1 .HEADS---SUBHEADS_Part-Number {
    font-size:150%;
    line-height:1;
    font-weight:bold;
    text-align:left;
    white-space:nowrap;
}

.summary .HEADS---SUBHEADS_Part-Number:before {
    content: 'Part ';
}

.summary .HEADS---SUBHEADS_Part-Number:after {
    content: ' – ';
}

.book .book-summary ul.summary li[data-path="04-Part-1-The-Scriptural-Teaching.html"] a, .book .book-summary ul.summary li[data-path="15-Part-2-Assessing-the-Scriptural-Teaching.html"] a, .book .book-summary ul.summary li[data-path="22-Part-3-The-Scriptural-Teaching-in-Contemporary-Society.html"] a, .book .book-summary ul.summary li[data-path="29-Part-4-A-Christian-Approach-for-Today.html"] a {
    font-weight: bold !important;
    text-indent: 0px;
    padding-left: 15px;
}

.book .book-summary ul.summary > li[data-path="04-Part-1-The-Scriptural-Teaching.html"] a:before, .book .book-summary ul.summary > li[data-path="15-Part-2-Assessing-the-Scriptural-Teaching.html"] a:before, .book .book-summary ul.summary > li[data-path="22-Part-3-The-Scriptural-Teaching-in-Contemporary-Society.html"] a:before, .book .book-summary ul.summary > li[data-path="29-Part-4-A-Christian-Approach-for-Today.html"] a:before {
    content: 'Part ';
}

.book .book-summary ul.summary > li[data-path="04-Part-1-The-Scriptural-Teaching.html"] a:after {
    content: ' – The Scriptural Teaching';
}

.book .book-summary ul.summary > li[data-path="15-Part-2-Assessing-the-Scriptural-Teaching.html"] a:after {
    content: ' – Assessing the Scriptural Teaching';
}

.book .book-summary ul.summary > li[data-path="22-Part-3-The-Scriptural-Teaching-in-Contemporary-Society.html"] a:after {
    content: ' – The Scriptural Teaching in Contemporary Society';
}

.book .book-summary ul.summary > li[data-path="29-Part-4-A-Christian-Approach-for-Today.html"] a:after {
    content: ' – A Christian Approach for Today';
}

.level2 > h2:first-child, .HEADS---SUBHEADS_Subhead, .HEADS---SUBHEADS_Less-Than-Subhead, .HEADS---SUBHEADS_Subsubhead, .HEADS---SUBHEADS_Subsubhead-After-Subhead {
    font-size:1.2em !important;
    line-height:1.25 !important;
}
.level2 > h2:first-child, .HEADS---SUBHEADS_Subhead, .HEADS---SUBHEADS_Less-Than-Subhead {
    letter-spacing:.025em !important;
    margin-bottom:1.25em !important;
    margin-top:2.5em !important;
}
.HEADS---SUBHEADS_Subsubhead, .HEADS---SUBHEADS_Subsubhead-After-Subhead {
    font-style:italic;
    font-weight:normal;
    margin-bottom:.75em !important;
    font-variant-numeric: lining-nums !important;
}
.HEADS---SUBHEADS_Subsubhead-After-Subhead {
    margin-top: .5em !important;
}
.level2 > h2:first-child, .HEADS---SUBHEADS_Subhead {
	font-weight:bold;
    font-variant-numeric: lining-nums !important;
}
.HEADS---SUBHEADS_Less-Than-Subhead {
    font-variant:small-caps;
    font-weight:normal;
    text-transform:lowercase;
    font-variant-numeric: oldstyle-nums !important;
}
.HEADS---SUBHEADS_Subsubhead {
    margin-top:1.75em !important;
}
.HEADS---SUBHEADS_Subsubhead-After-Subhead {
    margin-top:0 !important;
}
.HEADS---SUBHEADS_Subsubsubhead-Paragraph, .HEADS---SUBHEADS_Subsubsubhead-Paragraph-SA {
    margin-top:1.5em !important;
}
.HEADS---SUBHEADS_Subsubsubhead-Paragraph-SA {
/*    margin-bottom:24px;*/
    margin-bottom:1.5em !important;
}


/*FOOTNOTES*/


.Next-Chapter {
    text-align:right;
/*    font-size:16px;*/
    font-size:90%;
/*    margin-top:12px;*/
    margin-top:.5em;
    font-style:italic;
}
._idFootnotes {
    border-top-style:solid;
    border-top-width:1px;
/*    margin-top:16px;*/
    margin-top:1.333em;
/*    padding-top:8px;*/
    padding-top:.666em;
    font-size:90%;
}
._idFootnote {
}
._idFootnoteAnchor, span.Footnote-Number-Float {
/*    display:inline-block;*/
/*    text-indent:0;*/
    text-align:right;
/*    min-width:36px;*/
    width:3em;
/*    padding-right:4px;*/
    white-space:nowrap;
}
._idFootnoteAnchor:after, span.Footnote-Number-Float:after {
    content: '\00a0\00a0\00a0';
}
p.FOOTNOTES_Footnote, p.FOOTNOTES_Footnote-SA, p.FOOTNOTES_Footnote-Next, p.FOOTNOTES_Footnote-Next-SA, p.FOOTNOTES_Footnote-Next-NI, p.FOOTNOTES_Footnote-Outline-L1, p.FOOTNOTES_Footnote-Outline-L1-SA, p.FOOTNOTES_Footnote-Outline-L2 {
/*    font-size:16px;*/
/*    line-height:20px;*/
}
p.FOOTNOTES_Footnote, p.FOOTNOTES_Footnote-SA {
/*    margin-left:40px;*/
/*    padding-left:3em;*/
/*    margin-left:0;*/
}
p.FOOTNOTES_Footnote-Next, p.FOOTNOTES_Footnote-Next-NI, p.FOOTNOTES_Footnote-Next-SA {
/*    margin-left:3em;*/
}
p.FOOTNOTES_Footnote, p.FOOTNOTES_Footnote-SA {
/*    margin-top:10px;*/
    margin-top:.5em !important;
/*    text-indent:-40px;*/
/*    text-indent:-3em;*/
}
p.FOOTNOTES_Footnote-Next, p.FOOTNOTES_Footnote-Next-SA {
/*    text-indent:20px;*/
    text-indent:5%;
}
p.FOOTNOTES_Footnote-SA, p.FOOTNOTES_Footnote-Next-SA {
/*    margin-bottom:10px;*/
    margin-bottom:.5em !important;
}
p.FOOTNOTES_Footnote-Block-Quote-Single, p.FOOTNOTES_Footnote-Block-Quote-1st, p.FOOTNOTES_Footnote-Block-Quote-Next, p.FOOTNOTES_Footnote-Block-Quote-Last {
/*	font-size:15px;*/
    font-size:95%;
/*	line-height:18px;*/
/*    margin-left:60px;*/
    margin-left:5%;
/*	margin-right:20px;*/
    margin-right:5%;
}
p.FOOTNOTES_Footnote-Block-Quote-Single, p.FOOTNOTES_Footnote-Block-Quote-Last {
/*    margin-bottom:10px;*/
    margin-bottom:.5em !important;
}
p.FOOTNOTES_Footnote-Block-Quote-Next, p.FOOTNOTES_Footnote-Block-Quote-Last {
/*    text-indent:18px;*/
    text-indent:5%;
}
._idFootnote ol.Footnote-Outline-L1 {
/*    margin-left:3em;*/
}
span.Footnote-List-Counter-Float {
	display:inline-block;
	text-align:center;
	text-indent:0;
/*	min-width:26px;*/
    min-width:7.5%;
/*    padding-left:2px;*/
    padding-left:.5%;
/*    padding-right:2px;*/
    padding-right:.5%;
    white-space:nowrap;
}
.FOOTNOTES_Footnote-Outline-L1, .FOOTNOTES_Footnote-Outline-L1-SA, .FOOTNOTES_Footnote-Outline-L2 {
    list-style-position:outside;
/*    text-indent:-30px;*/
}
.FOOTNOTES_Footnote-Outline-L1, .FOOTNOTES_Footnote-Outline-L1-SA {
    list-style-type:decimal;
/*    margin-left:70px;*/
}
.FOOTNOTES_Footnote-Outline-L1-SA {
/*    margin-bottom:10px;*/
    margin-bottom:.5em;
}
.FOOTNOTES_Footnote-Outline-L2 {
    list-style-type:lower-alpha;
/*    margin-left:100px;*/
}


/*ENDNOTES*/


.All-Endnotes {
    font-size:90%;
}

.All-Endnotes .level2 > h2:first-child, .ENDNOTES_Endnote-Chapter-Num, .ENDNOTES_Endnote-Chapter-Title, .ENDNOTES_Endnote-No-Num-Title {
    -epub-hyphens:none;
    -webkit-hyphens:none;
    font-size: 1.2em !important;
    line-height: 1 !important;
    font-variant:small-caps;
    text-transform:lowercase;
    letter-spacing:.05em;
    orphans:99;
    break-after:avoid;
    font-variant-numeric: oldstyle-nums proportional-nums !important;
}
.All-Endnotes .level2 > h2:first-child, .ENDNOTES_Endnote-Chapter-Num {
    font-weight:bold;
    margin-top:2em !important;
    margin-bottom: 0 !important;
}
.ENDNOTES_Endnote-Chapter-Title {
    font-weight:normal;
    margin-bottom:1em !important;
    margin-top: 0 !important;
}
.ENDNOTES_Endnote-No-Num-Title {
    margin-bottom:1em !important;
    margin-top:2em !important;
}
._idGenBNMarker-16, .Endnote-Number-Float {
/*	display:inline-block;*/
/*	text-align:center;*/
/*	text-indent:0;*/
/*	min-width:36px;*/
/*    padding-right:4px;*/
/*    white-space:nowrap;*/
}
._idGenBNMarker-16:after, .Endnote-Number-Float:after {
    content: '\00a0';
}
p.ENDNOTES_Endnote-Initial_numbered, p.ENDNOTES_Endnote-Next, p.ENDNOTES_Endnote-Next-NI, p.ENDNOTES_Endnote-L-O-Master, p.ENDNOTES_Endnote-L-O-Master-SA, .ENDNOTES_Endnote-L-O-Bull-L1, .ENDNOTES_Endnote-L-O-Bull-L3, p.ENDNOTES_Endnote-L-O-Num-L1, p.ENDNOTES_Endnote-L-O-Num-L1-SA, p.ENDNOTES_Endnote-L-O-Num-L1-1st, p.ENDNOTES_Endnote-L-O-Num-L2, p.ENDNOTES_Endnote-L-O-Ltr-L2 {
}
p.ENDNOTES_Endnote-Initial_numbered, p.ENDNOTES_Endnote-Next, p.ENDNOTES_Endnote-Next-NI {
}
p.ENDNOTES_Endnote-Initial_numbered {
	list-style-position:outside;
	list-style-type:decimal;
    margin-top:1em !important;
}
p.ENDNOTES_Endnote-Next {
    text-indent:5%;
}
p.ENDNOTES_Endnote-Block-Quote-Single, p.ENDNOTES_Endnote-Block-Quote-1st, p.ENDNOTES_Endnote-Block-Quote-Next, p.ENDNOTES_Endnote-Block-Quote-Last {
    font-size:95%;
    margin-left:5%;
    margin-right:5%;
}
p.ENDNOTES_Endnote-Block-Quote-Single + ol, p.ENDNOTES_Endnote-Block-Quote-1st + ol, p.ENDNOTES_Endnote-Block-Quote-Next + ol, p.ENDNOTES_Endnote-Block-Quote-Last + ol {
    margin-bottom:.5em !important;
}
p.ENDNOTES_Endnote-Block-Quote-Single + ol li, p.ENDNOTES_Endnote-Block-Quote-1st + ol li, p.ENDNOTES_Endnote-Block-Quote-Next + ol li, p.ENDNOTES_Endnote-Block-Quote-Last + ol li {
    font-size:100%;
    margin-left:5%;
}
p.ENDNOTES_Endnote-Block-Quote-Single, p.ENDNOTES_Endnote-Block-Quote-1st, .ENDNOTES_Endnote-L-O-Num-L2 + .ENDNOTES_Endnote-Next {
    margin-top:.5em !important;
}
p.ENDNOTES_Endnote-Block-Quote-Single, p.ENDNOTES_Endnote-Block-Quote-Last {
    margin-bottom:.5em !important;
}
p.ENDNOTES_Endnote-Block-Quote-Next, p.ENDNOTES_Endnote-Block-Quote-Last {
    text-indent:5%;
}
span._idGenBNMarker-17, span._idGenBNMarker-18, span.Endnote-List-Counter-Float {
	display:inline-block;
	text-indent:0;
	text-align:center;
	min-width:26px;
    padding-left:2px;
    padding-right:2px;
    white-space:nowrap;
}
.ENDNOTES_Endnote-L-O-Master, .ENDNOTES_Endnote-L-O-Master-SA, .ENDNOTES_Endnote-L-O-Bull-L1, .ENDNOTES_Endnote-L-O-Bull-L3, .ENDNOTES_Endnote-L-O-Num-L1, .ENDNOTES_Endnote-L-O-Num-L1-SA, .ENDNOTES_Endnote-L-O-Num-L1-1st, .ENDNOTES_Endnote-L-O-Num-L2, .ENDNOTES_Endnote-L-O-Ltr-L2 {
    list-style-position:outside;
}
.ENDNOTES_Endnote-L-O-Master, .ENDNOTES_Endnote-L-O-Master-SA {
    margin-left:5%;
    padding-left:5%;
    text-indent:-5%;
}
.ENDNOTES_Endnote-L-O-Master, .ENDNOTES_Endnote-L-O-Num-L1-1st {
    margin-top:.5em !important;
}
.ENDNOTES_Endnote-L-O-Master-SA, .ENDNOTES_Endnote-L-O-Num-L1-SA {
    margin-bottom:.5em !important;
}
.ENDNOTES_Endnote-L-O-Bull-L1, .ENDNOTES_Endnote-L-O-Bull-L3 {
    list-style-type:square;
    list-style-type: '▶  ';
}
.ENDNOTES_Endnote-L-O-Num-L1, .ENDNOTES_Endnote-L-O-Num-L1-SA, .ENDNOTES_Endnote-L-O-Num-L1-1st, .ENDNOTES_Endnote-L-O-Num-L2 {
    list-style-type:decimal;
}
.ENDNOTES_Endnote-L-O-Ltr-L2 {
    list-style-type:upper-alpha;
}
.ENDNOTES_Endnote-L-O-Bull-L1, .ENDNOTES_Endnote-L-O-Num-L1, .ENDNOTES_Endnote-L-O-Num-L1-SA, .ENDNOTES_Endnote-L-O-Num-L1-1st {
}
.ENDNOTES_Endnote-L-O-Num-L2, .ENDNOTES_Endnote-L-O-Ltr-L2 {
}
.ENDNOTES_Endnote-L-O-Bull-L3 {
}


/*TOC*/

#contents {
    font-size: 1em;
}

#contents a.anchor-section {
    display: none;
}

.TOC-Part-Title-Container {
    width: 100%;
    margin-top: 1em;
    font-size: 1em;
}
.TOC-Chap-Title-Container {
    margin-top:1em;
}
.TOC_Huge-TOC-Part-Number {
    -epub-hyphens:none;
	-webkit-hyphens:none;
    font-size:133% !important;
    line-height:1;
    font-weight:bold;
    white-space:nowrap;
    break-after:avoid;
    margin-bottom: 0 !important;
}
.TOC_Huge-TOC-Part-Number:before {
}
.TOC-Part-Title {
    -epub-hyphens:manual;
	-webkit-hyphens:manual;
    font-size:133% !important;
    line-height:1;
    font-weight:bold;
    orphans:99;
    break-before:avoid;
    break-after:avoid;
    text-align:left !important;
    margin-top: 0 !important;
}
.TOC-Chapter-Num {
	-epub-hyphens:none;
	-webkit-hyphens:none;
    font-size:100% !important;
    line-height:1.5;
    display:inline-block;
	text-align:right;
    min-width:36px;
}
.TOC-Chapter-Num:after {
}
.TOC_TOC-Chapter, .TOC_TOC-Chapter-Scrunch, .TOC_TOC-No-Num, .TOC_TOC-No-Num-Scrunch, .TOC_TOC-F-B-Matter {
	-epub-hyphens:manual;
	-webkit-hyphens:manual;
    font-size:100% !important;
    line-height:1.5;
	font-weight:bold;
    margin-top:1em !important;
	orphans:99;
	break-after:avoid;
    text-align:left !important;
    margin-bottom: 0 !important;
}
.TOC_TOC-Chapter, .TOC_TOC-Chapter-Scrunch {
}
.TOC_TOC-No-Num, .TOC_TOC-No-Num-Scrunch, .TOC_TOC-F-B-Matter {
    margin-top:1em !important;
    list-style-type:none;
}
.TOC_TOC-Subsection, .TOC_TOC-Subsection-Scrunch {
    -epub-hyphens:manual;
    -webkit-hyphens:manual;
    font-size:100% !important;
    font-weight:normal;
    line-height:1.5;
    orphans:99;
    break-before:avoid;
    text-align:left;
    margin-left: 5%;
    text-indent: -5%;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

/*FRONT/BACK MATTER*/


#Man-and-Woman-in-Christ_Guide-to-Electronic-Versions a, #Man-and-Woman-in-Christ_ebook-export-38 a {
    font-weight:bold;
}
.Buy-Buttons {
    text-align:center;
    margin-top:1em;
    break-before:avoid;
}
.Buy-Buttons a {
    color:white !important;
}
.Buy-Buttons a:hover {
    text-decoration:underline;
}
.Buy-Button {
    text-align:center;
    color:white;
    font-weight:bold;
    letter-spacing:.02em;
    font-family:sans-serif;
    background-color:#0f7f8d;
    display:inline-block;
    padding:1em;
    margin-bottom:1em !important;
    margin-left:.5em;
    margin-right:.5em;
    border-radius:.5em;
    orphans:99;
    break-before:avoid;
    break-after:avoid;
}
p.F-B-MATTER_Bibliography-Entry {
/*	margin-left:24px;*/
    margin-left:5%;
	break-after:avoid;
/*	text-indent:-24px;*/
    text-indent:-5%;
}
p.F-B-MATTER_Bibliography-Annotation {
/*	margin-left:24px;*/
    margin-left:5%;
}
p.Index-Bible-Book, p.Index-Level-1, p.Index-Level-2, p.Index-Note, p.Leading-Entry-Leading {
/*    font-size:16px;*/
    font-size:90%;
/*    line-height:20px;*/
    orphans:99;
}
p.Index-Bible-Book, p.Index-Level-1, p.Leading-Entry-Leading {
/*	margin-left:36px;*/
    margin-left:7.5%;
/*	text-indent:-36px;*/
    text-indent:-7.5%;
}
p.Index-Bible-Book {
	-epub-hyphens:none;
	-webkit-hyphens:none;
/*    margin-top:20px;*/
    margin-top:1em !important;
	break-after:avoid;
    font-variant-numeric: lining-nums;
}
p.Index-Level-2 {
/*	margin-left:36px;*/
    margin-left:7.5%;
/*	text-indent:-12px;*/
    text-indent:-2.5%;
}
p.Index-Note {
	font-style:italic;
/*    margin-bottom:20px;*/
    margin-bottom:1em;
}
p.Leading-Entry-Leading {
/*	margin-top:20px;*/
    margin-top:1em !important;
}
p.F-B-MATTER_Copyright-Info, p.F-B-MATTER_Copyright-Info-1st, p.F-B-MATTER_Copyright-Info-Indented, p.F-B-MATTER_Copyright-Info-SA, p.F-B-MATTER_Copyright-Info-Indented-SA {
    -epub-hyphens:none;
    -webkit-hyphens:none;
/*    font-size:16px;*/
    font-size:90%;
/*    line-height:20px;*/
}
p.F-B-MATTER_Copyright-Info-Indented, p.F-B-MATTER_Copyright-Info-Indented-SA {
/*    margin-left:40px;*/
    margin-left:10%;
/*    text-indent:-20px;*/
    text-indent:-5%;
}
p.F-B-MATTER_Copyright-Info-SA, p.F-B-MATTER_Copyright-Info-Indented-SA {
/*	margin-bottom:20px;*/
    margin-bottom:1em !important;
    break-after:avoid;
}


/*CHARACTER STYLES*/


.Italic, .Italic-Caption, .Index-Cross-reference, .Italic-Optical-Kerning, .No-Break-Italic {
    font-style:italic;
}
.No-Break, .No-Break-Italic {
    white-space:nowrap;
}
.ALL-CAPS {
    font-variant:normal;
    text-transform:uppercase;
    letter-spacing:.025em;
    font-variant-numeric:lining-nums;
}
.Endnote-Ref, span.Footnote-Ref {
    font-style:normal;
    font-weight:bold !important;
    vertical-align:super;
    font-size:67%;
    line-height:1;
}
.Invisible {
    color:none;
}
.Lining-Nums {
    font-variant-numeric: lining-nums;
}
.MaWiC_Subhead-Drop-Words {
    font-variant:small-caps;
    letter-spacing:.025em;
    font-variant-numeric: oldstyle-nums proportional-nums;
}
.Medium {
    font-style:normal;
    font-weight:normal;
}
.Medium-OT-All-Small-Caps {
    font-style:normal;
    font-variant:small-caps;
    font-weight:normal;
    text-transform:lowercase;
    letter-spacing:.01em;
}
.No-Ligatures {
    font-variant-ligatures: none;
  	-moz-font-feature-settings: none;
  	-webkit-font-feature-settings: none;
  	font-feature-settings: "liga" 0;
}
.OT-All-Small-Caps {
    font-variant:small-caps;
    text-transform:lowercase;
    letter-spacing:.01em;
}
.Regular {
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    text-transform:none;
    font-variant:normal;
}
.Semibold {
	font-style:normal;
	font-weight:bold;
    letter-spacing:.01em;
    font-variant-numeric: lining-nums;
}
.Small-Caps, .smallcaps {
	font-variant:small-caps;
	text-transform:none;
}
.Superscript {
	font-style:normal;
	vertical-align:super;
    font-size:67%;
    line-height:1;
}
.Drop-Cap, ._idGenDropcap-1 { 
	font-style:normal;
    font-family: garamond-premier-pro;
	font-weight:bold;
	font-size:5.5em;
	line-height:1.1;
	float:left;
	margin-top:-.09em;
	margin-bottom:-.3em;
	margin-right:.03em; 
}
.two-em-dash {
    letter-spacing:-.3em;
}
#table001, #table002 {
    border-style:solid;
    border-width:.5px;
    margin-bottom:24px;
}
#table001 td, #table002 td, #table001 th, #table002 th {
    border-style:solid;
    border-width:.5px;
    padding:4px;
    vertical-align:top;
}
#table001 .col1 {
}
#table001 .col2 {
}
#table001 .col3 {
}
.letter-indent {
    margin-left:24px;
}
#table002 {
    margin-top:1em;
    font-size:80%;
}
#table002 .BODY-STYLES_Basic-Table-Text {
/*    font-size:14px;*/
/*    line-height:17px;*/
}
#table002 .col1 {
    text-align:right;
}
#table002 .col2, #table002 .col3, #table002 .col4, #table002 .col5 {
}
#table002 th {
    border-bottom-width:3px;
    border-bottom-style:solid;
    vertical-align:bottom;
    font-weight:normal;
}
#table002 tr > :first-child > .BODY-STYLES_Basic-Table-Text {
    text-align:right;
    white-space:nowrap;
}
#_idContainer022 {
    margin-top:1em;
    margin-bottom:.5em;
/*    margin-left:36px;*/
    text-align:center;
}
#_idContainer022 img {
    height:auto;
    width:100%;
    align:center;
}
#_idContainer000 {
    width:100%;
    height:100%;
    text-align:center;
}
#_idContainer000 img {
    height:100%;
    width:100%;
    align:center;
}